@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.pt-safe {
  padding-top: env(safe-area-inset-top, 20px);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 20px);
}

@theme {
  --color-brown-50: #f5f5f5;
  --color-brown-100: #f0e6e2;
  --color-brown-200: #e1c6b8;
  --color-brown-300: #d2a48d;
  --color-brown-400: #c18b5b;
  --color-brown-500: #a65e2e;
  --color-brown-600: #8e4a1f;
  --color-brown-700: #6e3615;
  --color-brown-800: #4e240c;
  --color-brown-900: #331606;
}
